
body {
    background-color: white;
    font-family: "Montserrat";
    text-align: center;
}
header{
    margin-top: 5%;
}
h1,h2 {
    font-family: "Montserrat";
    font-weight: 900;
    text-align: center;
}

.input-text {
margin-top: 5%;
}

/* Containers */

.container {
    margin-top: 5%;
    margin-bottom: 10%;
}


/*Media queries*/
@media only screen and (max-width: 1000px) {
    body {
      background-color: lightblue;
    }
}

@media only screen and (max-width: 800px) {
    body {
      background-color:#DBF1FF;
    }
}

@media only screen and (max-width: 600px) {
    body {
      background-color: #BFD1FD;
    }
}
  
@media only screen and (max-width: 400px) {
    body {
      background-color: grey;
    }
}

@media only screen and (max-width: 200px) {
    body {
      background-color: yellow;
    }
}