
body {
    background-color:#ffffff;
    font-family: "Montserrat";
 
   
}

h1 {
    font-family: "Montserrat";
    font-weight: 900;

}



.container-fluid{
  padding-top: 20px;
  padding-bottom: 20px;
}

.add-button{
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  bottom: 0;
}






/*Media queries*/
@media only screen and (max-width: 1000px) {
    body {
      background-color: lightblue;
    }
}

@media only screen and (max-width: 800px) {
    body {
      background-color:#DBF1FF;
    }
}

@media only screen and (max-width: 600px) {
    body {
      background-color: #BFD1FD;
    }
}
  
@media only screen and (max-width: 400px) {
    body {
      background-color: grey;
    }
}

@media only screen and (max-width: 200px) {
    body {
      background-color: yellow;
    }
}